* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
#wrapper {
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}
.logo-letter {
  font-size: 38px;
  /* font-family:   Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Brush Script MT, Brush Script Std, cursive;
}
.nav-link {
  font-weight: bold;
  font-size: 17px;
}
.nav-link:hover {
  color: rgb(133, 132, 132);
}
.hero-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
  padding: 6rem;
  padding-bottom: 8rem;
}
.text {
  color: rgb(39, 122, 255);
  font-weight: bold;
}
.user-image {
  object-fit: cover;
  mix-blend-mode: multiply;
}
@media (max-width: 600px) {
  .hero-container {
    flex-direction: column;
    justify-content: start;
  }
  .myImage {
    margin-top: 4rem;
  }
}
.btn-pink {
  background-color: rgb(246, 81, 81);
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}
.btn-pink::before {
  content: "";
  position: absolute;
  background-color: white;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}
.btn-pink:hover::before {
  transform: scaleX(1);
}
.btn-pink:hover {
  border: solid 3px var(--bgOrange);
  color: black;
}
.desc {
  font-size: 18px;
}

.faded-text {
  position: absolute;
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);

  bottom: -43%;
  left: 1%;
  font-weight: bold;
  transition: all 3s;
  z-index: 10;
}

.project-container {
  margin-top: 15rem;
  /* border: 1px solid black; */
  background-color: rgb(231, 231, 231);
}
.project-header {
  color: rgb(246, 81, 81);
  font-size: 90px;
  text-align: center;
  padding-top: 30px;
}
.card-container {
  display: flex;
  padding: 4rem;
  flex-direction: column;
  gap: 5rem;
}
.card {
  padding: 5rem 3rem;
  width: 90%;
  height: 550px;
  background-size: cover;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  border: none;
}
.card-title {
  font-size: 4rem;
  color: white;
  font-weight: bold;
}
@media (max-width: 600px) {
  .project-header {
    font-size: 40px;
  }
  .card-container {
    width: fit-content;
    padding: 0;
    align-items: center;
  }
  .card {
    padding: 1rem;
    height: fit-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-title {
    font-size: 24px;
  }
  .faded-text {
    bottom: -25%;
    font-size: 50px;
  }
}

.logos img {
  width: 40px;
  margin: 5px;
  z-index: 100;
}
.card1 {
  background-image: url(./images/Project1.png);
}
.card2 {
  background-image: url(./images/Project2.png);
}
.card3 {
  background-image: url(./images/Project3.png);
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}
.card-body {
  z-index: 1;
}
.card-text {
  color: white;
  font-size: 1.2rem;
}

.skill-container {
  width: 100vw;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 6rem;
}
.skill-title{
  color: rgb(246, 81, 81);
  font-size: 3.5rem;
}
.skill-title span{
  font-size: 5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.skill-left{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.skill-description{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}
.skill-description p{
  font-size: 1.2rem;
  text-align: justify;
  word-break: break-all;
  width: fit-content;
}
.skill-right{
  position: relative;
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(5,1fr);
  gap: 1.7rem;
  padding-top: 2rem;

}
.skill-logo{
  width:90%;
}
.blob-image{
  position: absolute;
  width: 70%;
  right: 10%;
  z-index: -1;
  bottom: 20%;
  animation: zigzag 5s linear infinite;
}

@keyframes zigzag {
  50%{
    right: 20%;
    bottom: 15%;
  }
  100%{
    right: 10%;
    bottom: 20%;
  }
}

@media (max-width:600px) {
  .skill-container{
    grid-template-columns: repeat(1,1fr);
    padding: 1rem;
    width: 100%;
  }
  .skill-description{
    width: 100%;
    overflow-wrap: break-word;
  }
  .skill-description p{
    width: 100%;
    overflow-wrap: break-word;
  }
  .skill-right{
    gap:1rem
  }
}
.contact-container{
  background-color: rgb(231, 231, 231);
  padding: 4rem;
}
.contact-header{
  color: rgb(246, 81, 81);
  font-size: 5rem;
}
.contact-subhead{
  color: #707692;
  font-size: 3.5rem;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.form textarea{
  align-self: center;
  border-radius: 2px;
  border: none;
  box-shadow: 5px 5px 7px 0px #0000003f;
  margin: 1rem 0;
  outline: none;
  font-size: 22px;
  padding-left: 2rem;
}
.form input{
  width: 40%;
  height:3.8rem;
  border-radius: 2px;
  border: none;
  box-shadow: 5px 5px 7px 0px #0000003f;
  margin: 1rem 0;
  outline: none;
  font-size: 22px;
  padding-left: 2rem;
}
@media (max-width:600px) {
  .contact-container{
    padding: 1rem;
  }
  .form input{
    width: 100%;
  }
  .form textarea{
    width: 100%;
  }
}
